:root {
    --primary-blue: #264653;
    --primary-green: #2a9d8f;
    --primary-yellow: #e9c46a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-blue);
}

.content {
    width: 30vw;
    height: 70vh;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#location-data {
    display: none;

    width: 20vw;
    height: auto;

    grid-template-rows: repeat(4, auto);

    background-color: #FFF;
    border: var(--primary-green) .8vw solid;
}

#location-data > h1 {
    grid-row: 1 / 2;
    padding: 0.5rem;

    font-size: clamp(1vw, 1.5rem, 3vw);
    color: var(--primary-blue);
    text-align: center;

    border-bottom: var(--primary-green) 0.7vw solid;
}

#location-data > p {
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    align-self: center;
    

    font-size: clamp(1vw, 1rem, 2.5vw);
    font-weight: 700;
    color: var(--primary-blue);
}

#location-data > #location-temp {
    grid-row: 4 / -1;
    padding: 2rem;

    font-size: clamp(1rem, 3vw, 2rem);
}

#default-text {
    color: var(--primary-yellow);
    font-size: clamp(2.5vw, 1.5rem, 3.5vw);
    font-weight: 700;
    text-align: center;
}

#loading {
    display: none;

    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-yellow);
    text-align: center;
}


#location-form {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 80%;
    height: 5vh;

    border: var(--primary-green) .4rem solid;
    outline: transparent;
}

#location-form > input {
    width: 100%;
    height: 100%;
    
    padding-left: 0.2rem;

    font-size: clamp(1vw, 1.2rem, 5vw);
    border: transparent;
    outline: transparent;
}

#location-form > button {
    height: 100%;
    width: 15%;

    background-color: var(--primary-green);
    border: transparent;
}

#location-form > button > img {
    width: 100%;
    height: 100%;
}

#location-form > button > img:hover {
    content: url("./images/search-icon-dark.svg")
}

#location-form > button > img:active {
    content: url("./images/search-icon.svg")
}

.active {
    width: 20vw;
    height: auto;

    padding: 0.4rem;

    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: #000;
    background-color: red;

    border: #000 0.2vw solid;
}
